<div class="body">

    <div class="basket-body-element">

        {{ #items }}
            <div class="basket-body-item">
                <div class="basket-body-item-quantity">
                    <button id="quantity-decrease-button-{{ id }}" class="quantity-decrease-button">
                        -
                    </button>
                    <input
                        id="quantity-input-{{ id }}"
                        class="quantity-input"
                        type="number"
                        maxlength="2"
                        autofocus="autofocus"
                        value="{{ quantity }}"
                    />

                    <button id="quantity-increase-button-{{ id }}" class="quantity-increase-button">
                        +
                    </button>
                </div>
                <div class="basket-body-item-img">
                    <img src="img/{{ id }}.jpg" height="60px">
                </div>
                <div class="basket-body-item-info">
                    {{ name }}
                </div>
                <div class="basket-body-product-remove">
                    <button id="remove-product-button-{{ id }}" class="remove-product-button">
                        Löschen
                    </button>
                </div>
                <div class="basket-body-item-price">
                    {{#formatPrice}} {{totalPrice}} {{/formatPrice}}
                </div>
            </div>
        {{ /items }}

        <div class="basket-body-element-footer">

            <div class="basket-body-element-coupon">
                Gutschein hinzufügen (optional):
                <div class="discount-text">&ensp;{{ usedDiscountCode }}</div>
            </div>

            <div class="basket-body-element-checkout">
                <div class="basket-body-element-amount">
                    Summe ({{ basketCount }} Artikel):
                </div>
                <div class="basket-body-element-total">
                    {{#formatPrice}} {{totalPrice}} {{/formatPrice}}
                </div>
            </div>

        </div>

        <div class="basket-body-element-coupon-input">
            <input
                id="discount-input"
                class="discount-input"
                type="text"
                maxlength="50"
                autofocus="autofocus"
                placeholder="Rabattcode hier eingeben"
            />

            <button id="discount-button" class="discount-button">Ok</button>
        </div>

    </div>

</div>