<footer>
    <div class="footer">
        <div class="footer-element">

        <div class="text-style">
            Week Sale!
        </div>

        <div class="text-style">
            Einmaliger Rabatt in Höhe von 15%: SALE21
        </div>

        <div class="text-style">
            Einmaliger Gutschein in Höhe von 5,00€: NEWYEAR21
        </div>

        </div>
    </div>
</footer>