<header> 
    <div class="header">
        <div class="header-element">

        <div class="text-style" id="app-title">
            <h2>{{ title }}</h2>
        </div>

        <div class="text-style">
            <button 
            id="navigate-to-home-button"
            type="button" 
            class="btn-style"
            >
                <i class="fas fa-home fa-3x"></i>
            </button>

            <button 
            id="navigate-to-basket-button"
            type="button" 
            class="btn-style"
            >
                <i class="fas fa-shopping-basket fa-3x"></i>
            </button>
            {{ basket }}
        </div>

        </div>
    </div>
</header>